@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

body {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}
.h1 {
  margin-top: 5%;
  text-decoration: underline solid white;
  text-align: center;
  margin-bottom: 3%;
}
#random {
  padding-bottom: 4%;
  margin-top: 4%;
}
#quote {
  background-color: #fff;
  padding: 4%;
}
.quote {
  font-size: 25px;
  font-weight: 600;
}
.author {
  font-size: 20px;
  font-style: italic;
}
#btn {
  font-size: 25px;
  font-weight: 600;
  outline: none;
  background-color: rgb(104, 17, 185);
  border: transparent;
  color: white;
}

@media only screen and (min-width: 300px) and (max-width: 576px) {
    #random{
        margin: 4%;
    }
}
